body {
  background-color: rgb(34, 34, 34);
}

.text-about-cont {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: wheat;
  margin-top: 100px;
  margin-bottom: 100px;
}
.text-about {
  width: 500px;
  text-align: center;
  line-height: 20px;
}
.img-cost {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.imgs-satisfied-costumers {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-auto-rows: 400px;
  grid-gap: 20px;
  margin: 100px;
}

.one {
  background-image: url("/img-about/5dbb01fc045a3106cb2daf78.webp");
}

.two {
  background-image: url("/img-about/bodybuilder-posing-fitness-muscled-man-dark-scene_136403-4206.webp");
}
.three {
  background-image: url("/img-about/natural_bodybuilding_2000x.jpg");
}
.four {
  background-image: url("/img-about/Nimai-Delgado-Profile.jpg");
}
.five {
  background-image: url("/img-about/sarah-herse.jpg");
}

.satisfied-costumers-cont {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/img-about/fitsix-4-bright_LIQo.webp");
  background-color: rgb(0, 0, 0, 0.8);
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
}

.title-satisfied-costumers {
  font-size: 40px;
  color: wheat;
  margin-top: 100px;
}
