.img-first {
  width: 100%;
  height: 350px;

  background: rgb(0, 0, 0, 0.4) url("../img/third.jpg");

  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  color: orange;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-shadow: 4px 4px 4px rgb(255, 255, 255);
}

.second-paragraph {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  padding-top: 100px;
  background-color: rgb(17, 17, 17);
}
.second-img {
  background-image: url("../img/pose-muscle-muscle-rod-press-hd-wallpaper-preview.jpg");
  width: 400px;
  /*background-repeat: no-repeat;*/
  background-size: cover;
}
.text-gym {
  width: 400px;
  background-color: rgb(41, 41, 41);
  color: white;
  padding: 50px;
}

.ol-gym-machines {
  list-style-type: armenian;
  padding: 30px;
}
.ol-gym-machines li {
  list-style: decimal-leading-zero;
}
.third-paragraph {
  width: 400px;
}
ul {
  margin: 0;
}
.img-container {
  width: 100vw;
  height: 600px;
  background: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  padding: 120px 0px;
}
.img-button {
  position: absolute;
  top: 300px;
  font-size: 35px;
  background-color: rgb(41, 41, 41);
  color: rgb(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 40px;
  cursor: pointer;
}

.img-button:hover,
.img-button:focus {
  background-color: rgb(0, 0, 0, 0.7);
  color: white;
}
.img-button.right {
  right: 20px;
}
.img-button.left {
  left: 20px;
}

.imges {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 80%;
  height: 600px;
  opacity: 0;
  transition: 400ms;
}
.show {
  opacity: 1;
}

.third-paragraph {
  width: 100vw;

  padding: 30px;
  background-image: url("../img/Workout.webp");
  color: rgb(223, 217, 217);
}

.second-text {
  background-color: rgb(0, 0, 0, 0.8);
  width: 500px;
  padding: 30px;
}
.razmak {
  width: 100vw;
  height: 100px;
  background-color: rgb(165, 107, 0);
}
