* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.container {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}
.nav-ul {
  position: relative;
  height: 100px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(15, 15, 15);
}
.btn {
  padding: 20px;
  display: none;
  color: aliceblue;
  border: solid 2px white;
}

.logo {
  width: 60px;
  display: absolute;
  left: 30px;
}
.option.logo {
  width: 100px;
}

.nav-tag {
  color: orange;
}
.option {
  display: flex;
  align-items: center;

  height: 100%;
  list-style-type: none;
}
.nav-tag {
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 100%;
}
.nav-tag :hover {
  background-color: rgb(34, 34, 34);
}

.contact-container {
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 70px;
  background-color: rgb(53, 53, 53);
}
.contact-container a {
  color: rgb(14, 97, 170);
  text-decoration: none;
}
.contact {
  margin: 10px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}
.contact.mail {
  display: inline-flex;
}

.responsive-list {
  display: none;
  animation: load-nav 1s;
}

.responsive-list a {
  margin: 10px;
  text-decoration: none;
  color: orange;
}
.responsive-list li {
  text-align: right;
  margin: 10px;
  padding: 0px 20px;
}
.bnt:hover {
  background-color: aliceblue;
}
@keyframes list-load {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes load-nav {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 600px) {
  .option {
    display: none;
  }
  .btn {
    display: block;
  }
  .responsive-list {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: right;
  }
}
/*
@media (min-width: 601px) {
  .btn {
    display: none;
  }
  .option {
    display: block;
  }
  .responsive-list {
    display: none;
  }
}
*/
